.container {
  max-width: 90%; /* or a fixed size like 900px */
  margin: 50px auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers inner content */
}

.row {
  display: flex;
  margin-bottom: 0.4em;
  align-items: center;
}
.rowLable {
  width: 30px;
  text-align: center;
  font-size: 14px;
  flex-shrink: 0;
  color: #999;
}
hr {
  border-top: 1px solid #999;
}
.seat-group {
  display: flex;
  gap: 0.3em;
  margin-left: 8em;
  flex-wrap: wrap;
}
.seats {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
}

.section {
  margin-bottom: 0.7em;
}

.section-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.seatsForNull {
  width: 27px;
  height: 27px;
  border-radius: 4px;
}
