.container {
  width: 60%;
  margin: 50px auto;
}

.rows {
  display: flex;
}
.rowLable {
  width: 60px;
  text-align: center;
  font-size: 0.8em;
  margin-right: 7em;
}
.seats {
  width: 25px;
  height: 25px;
  margin-left: 0.5em;
  border-radius: 4px;
}
.seatLable {
  text-align: center;
  font-size: 0.5em;
  font-weight: bold;
}
